@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,700&display=swap');

body {
  background: floralwhite;
}

.App {
  font-family: sans-serif;
  display: grid;
  justify-items: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.price-wrapper {
  text-align: center;
  width: 90%;
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 500px));
 
}

.pickup-prices, .delivery-prices {
  
  border: rebeccapurple dashed 10px;
  border-radius: 20px;
}

input {
  margin: 0 10px;
}

input[type="submit"] {
  background: rebeccapurple;
  color: white;
  outline: none;
  border: none;
  text-transform: uppercase;
  padding: 0.5em 1em;
  border-radius: 5px;
  box-shadow: 1px 1px 2px hsla(50 100% 0% / 0.5);
  transition: background 0.2s ease-in, transform 0.1s ease-out, box-shadow 0.2s ease-in-out;
  transition: ;
}
input[type="submit"]:hover {
  background: hsla(270 67% 50% / 1);
  box-shadow: -1px -1px 2px hsla(50 100% 0% / 0.5);
}
input[type="submit"]:active {
 transform: translateY(3px);
}

h5 {
  margin: 5px;
}